<h1>User Profile</h1>

<p>Username: <%= @user.username %></p>
<p>Email: <%= @user.email %></p>
<p>Address:</p>
<ul>
  <li>Street: <%= @user.street %></li>
  <li>City: <%= @user.city %></li>
  <li>State: <%= @user.state %></li>
  <li>Postal Code: <%= @user.postal_code %></li>
  <li>Country: <%= @user.country %></li>
</ul>
